# Dependencies
node_modules/
.next/
out/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Vault
vault/
.vault_keys.txt

# Local Tool Configs & Env
.claude/
.gemini/
.antigravity/
.env
.env.local
frontend/.env.local

# Storage & Infrastructure
storage/
storage_k/
jenkins_data/
postgres_data/
ollama_data/
sonar_data/
