# Dependencies & Environments
node_modules/
.next/
out/
build/
dist/
venv/
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# Vault
vault/
.vault_keys.txt

# Local Tool Configs
.claude/
.claudeignore/
.gemini/
.antigravity/

# Storage & Infrastructure
storage/
storage_k/
jenkins_data/
postgres_data/
ollama_data/
sonar_data/
